# Compilados
*.suo
*.user
*.sdf
*.db
*.db-shm
*.db-wal
*.userprefs
*.sln.docstates

# CMake
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/

# Compilación de Visual Studio
*.sdf
*.opensdf
*.VC.db

# Compilación de Code::Blocks
*.depend

# Ejecutables
bin/
*.exe
*.out
*.app

# Bibliotecas compartidas
lib/
*.so
*.dll
*.dylib

# Archivos de configuración locales
*.local

# Archivos de registro
*.log

# Archivos de respaldo y temporales
*~
\#*\#
*.bak
*.tmp