# Visual Studio Code
.vscode/

# Carpeta de salida (output)
output/

# CMake build directory
build/

# Compiled object files and libraries
*.o
*.a
*.so
*.run

# Executable files
*.exe
*.out

# Compiled dynamic libraries
*.dll
*.dylib

# Mac OS X directory attributes
.DS_Store
